@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root{
    --font-principal: "Montserrat"
}

header{
    background-color: #1E8F31;
    padding: 0.5em;
}

h1 {
    font-family: var(--font-principal);
    text-align: center;
    margin: 1em 0;
    font-size: 30px;
}

h2 {
    font-family: var(--font-principal);
    text-align: center;
    margin: 0.5em 0;
    font-size: 30px;
}

h3 {
    font-family: var(--font-principal);
    text-align: center;
    margin: 1em 0;
    font-size: 25px;
}

main {
    padding-top: 2em;
}

.dados {
    font-family: var(--font-principal);
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.5em 0 0.5em 0;
    border-radius: 20px;
    height: 2em;
    width: 18em;
    border: 3px solid #19521D;
}
.dados::placeholder{
    color: black;
}

#serie {
    height: auto;
    padding: 0.75em 0;
}

#curso {
    height: auto;
    padding: 0.75em 0;
}

.submit {
    font-family: var(--font-principal);
    background-color: #19521D;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 4em;
    padding: 0.5em 0 0.5em 0;
    width: 10em;
    border-radius: 20px;
}

.frase {
    padding: 0.5em 0;
}

.apoiadores {
    margin: 1em 0;
}

.imagens{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}

.logos {
    display: flex;
    margin: 0 2em;
}

#ifpb {
    width: 10em;
    height: 15em;
}

.desenvolvedores {
    background-color: #1E8F31;
    padding-top: 0.1em;
}

.devs {
    display: flex;
    justify-content: space-evenly;
}

a {
    margin-bottom: 1em;
    font-family: var(--font-principal);
    text-decoration: underline;
    font-size: 20px;
}

a:hover {
    color: white;
}

@media (max-width: 700px){
    .imagens {
        display: block;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    #ifpb {
        align-items: center;
        width: 5em;
        height: 9em;
    }
}